.error{
   color: red;
}
.indented{
   margin-left: 2em;
}
blockquote{
   border-left-style: solid;
   border-left-width: 0.5em;
   margin-left: 1em;
   padding-left: 0.5em;
   background-color: rgb(245, 245, 245);
}

.invisible{
   display: none;
}
#tab_bar{
   background-color: lightyellow;
   padding: 0.5em;
}
.link_underlining{
   text-decoration-style: dashed;
   text-decoration-line: underline;
}
.link_underlining:hover{
   text-decoration-style: solid;
}
.button{
   font-family: monospace;
   cursor: pointer;
   text-decoration-style: dashed;
   text-decoration-line: underline;
   margin: 1em;
}
.button:hover{
   text-decoration-style: solid;
   background-color: hsl(120, 73%, 95%);
}
.active_button{
   background-color: lightgreen !important;
}

#tab_main{
   font-family: monospace;
}
.member{
   display: flex;
   margin-top: 1em;
}
.member_name{
   width: 13em;
   white-space: pre;
}

/* This is some css voodoo I don't understand but it apparently is necessary to select the label. label:checked alone doesn't work */
input[type=checkbox]:checked + label{
   background-color: lightgreen;
}

/* table things */
.table{
   display: flex;
   flex-direction: column;
   margin-top: 20em; /* reserve some space because the rotation will mess the size calculation up */
   font-family: "Bahnschrift", monospace;
}
.table_row{
   display: flex;
   flex-direction: row;
   margin-top: 2px;
}
.table_cell{
   background-color: hsl(0, 100%, 96%);;
   width: 1.5em;
   margin-left: 2px;
   flex-shrink: 0;
}
.rot{
   display: inline-flex;
   transform: rotate( -90deg );
   width: 1.5em;
   margin-left: 2px;
}
.table_row>div:first-child{
   min-width: 22em;
   width: 22em;
   display: flex;
}

.table_cell.green{
   background-color: hsl(111, 100%, 96%);;
}


/* Logo animation */
header{
   animation: anim_name 1s infinite;
}
@keyframes anim_name {
   0% { color: #000000; }
   50% { color: #000000; }
   51% { color: #ff0000; }
   100% { color: #ff0000; }
}
